html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    bottomn: 1.5em;
    background: #EFEFEF;
    cursor: crosshair;
}

p {
    color: white;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lista {
    position: absolute;
    bottom: 0;
    height: 1.5em;
    width: 100%;
    background: #343131;
    /* #2980B9; */
}

.zoom {
    position: absolute;
    left: 0;
    top: 10%;
    width: 1em;
    height: 80%;
    background: #2980B9;
    cursor: pointer;
}

#zoomout {
    left: 1.2em;
}

#suradnice {
    position: absolute;
    left: 3em;
    width: 10em;
    height: 100%;
    cursor: default;
    /* background: red; */
}

.suradnica {
    position: absolute;
    left: 1.2em;
    width: 3em;
    bottom: 0;
    height: 100%;
    /* background: green; */
}

#x {
    left: 6.5em;
}

#wrs {
    position: absolute;
    left: 14em;
    height: 90%;
    cursor: pointer;
}

#utm {
    position: absolute;
    left: 17.5em;
    height: 90%;
    cursor: pointer;
}

.tlac_text {
    color: #717171;
}

#datumVyber {
    position: absolute;
    left: 21em;
    height: 100%;
    width: 7.2em;
}

.datumTlacitka {
    position: absolute;
    cursor: pointer;
    height: 90%;
    width: 1.5em;
}

#datumViac {
    left: 6.5em;
}

#sucasnyDatum {
    position: absolute;
    left: 1em;
    top: 10%;
    height: 90%;
    width: 5.2em;
    text-align: center;
    cursor: default;
}

#sucasnyDatumText {
    height: 90%;
    cursor: default;
}
