html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    bottomn: 1.5em;
    background: #EFEFEF;
    cursor: crosshair;
}

p {
    color: white;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Dejavu Sans;
}

#lista {
    position: absolute;
    bottom: 0;
    height: 1.5em;
    width: 100%;
    background: #343131;
    /* #2980B9; */
}

.zoom {
    position: absolute;
    left: 0;
    top: 10%;
    width: 1em;
    height: 80%;
    background: #2980B9;
    cursor: pointer;
}

#zoomout {
    left: 1.2em;
}

#suradnice {
    position: absolute;
    left: 3em;
    width: 10em;
    height: 100%;
    cursor: default;
    /* background: red; */
}

.suradnica {
    position: absolute;
    left: 1.2em;
    width: 3em;
    top: 5%;
    height: 90%;
}

#x {
    left: 6.8em;
}

#wrs {
    position: absolute;
    left: 15em;
    top: 5%;
    height: 90%;
    cursor: pointer;
}

#utm {
    position: absolute;
    left: 18.5em;
    top: 5%;
    height: 90%;
    cursor: pointer;
}

.tlac_text {
    color: #717171;
}

#datumVyber {
    position: absolute;
    left: 21.5em;
    height: 100%;
    width: 7.2em;
}

.datumTlacitka {
    position: absolute;
    cursor: pointer;
    height: 90%;
    width: 1.5em;
}

#datumViac {
    left: 6.5em;
}

#sucasnyDatum {
    position: absolute;
    left: 1em;
    top: 10%;
    height: 90%;
    width: 5.2em;
    text-align: center;
    cursor: default;
}

#sucasnyDatumText {
    height: 90%;
    cursor: default;
}

#vyberRastra {
    position: absolute;
    left: 29.5em;
    width: 9em;
    height: 100%;
    cursor: default;
}

.vyberRastraTlac {
    position: absolute;
    height: 80%;
    top: 5%;
    cursor: pointer;
    color: #717171;
}

#RGB {
    width: 2em;
}

#LC {
    left: 2.3em;
    width: 1.3em;
}

#VHOD {
    left: 3.9em;
    width: 2.4em;
}

#ALB {
    left: 7.1em;
    width: 2em;
}

#kappa {
    position: absolute;
    height: 80%;
    width: 4em;
    left: 39.5em;
    top: 5%;
    /* background: red; */
}
